/* colour palette */
/* generated via coolors.co */
:root {
  --area1: rgba(75, 40, 115, 0.925);
  --background: rgb(185, 229, 253);
  --text: #f9f9f9ff;
  --area2: rgba(135, 92, 65, 0.359);
  --highlight: rgb(252, 252, 121);
  --unit: 20px;
  --background-gradient1: radial-gradient(
    closest-corner at 60% 60%,
    rgb(140, 195, 227),
    rgba(83, 56, 114, 0.679)
  );
  --background-gradient2: linear-gradient(
    325deg,
    rgba(255, 255, 255, 0.098),
    rgba(75, 40, 115, 0.925)
  );
}

/* recurrent styling */
* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", "Tahoma";
  position: relative;
  font-size: 18px;
}

body {
  background-color: var(--background);
  background: radial-gradient(
    closest-corner at 65vw 60vh,
    rgba(255, 255, 222, 0.174),
    rgba(239, 236, 209, 0.363),
    rgba(179, 213, 233, 0.249),
    rgba(169, 209, 232, 0.588)
  );
  background-attachment: fixed;
}

/* font and text */

h1 {
  font-size: 32px;
  line-height: 48px;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  color: var(--area1);
}

h3 {
  font-size: 16px;
  font-weight: 100;
  text-transform: capitalize;
}

h4 {
  font-size: 14px;
  color: rgb(124, 134, 146);
  font-weight: 100;
}

p {
  font-size: 12px;
  line-height: 20px;
  padding: 4px;
  color: slategray;
}

.home-button{
  background-color: var(--background);
  border: 2px solid white;
  font-weight: bold;
  color: var(--area1);
  position: absolute; 
  right: 20px;
  padding: 10px;
  top: 15px;
}

/* containers */

article{
  color: var(--area1);
  background-color: rgba(255, 255, 255, 0.492);
  border: 2px solid white;
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

header {
  min-height: 60px;
}

.rectangular-container {
  background-color: rgb(255, 255, 255, 0.5);
  border: 4px solid transparent;
  border-radius: 3px;
  padding: 12px;
  margin: 5px;
  color: var(--text);
}
.rectangular-container:hover {
  background-color: var(--area1);
  border-color: white;
  font-weight: bold;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.397);
}

.rectangular-container:hover h2 {
  color: white;
}

.round-container {
  /* background-color: var(--area1); */
  border-radius: 100%;
  padding: var(--unit);
  color: var(--text);
}

.grid-4-cols{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 1fr;
}

.section-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3fr repeat(2, 2fr);
  border: 1px solid white;
  border-radius: 3px;
  padding: 10px;
  margin: var(--unit) 40px;
  color: var(--text);
  max-height: 400px;
  position: sticky;
  top: 300px;
}

.icon-container{
  display: inline-block;
  margin: 5px; 
  padding: 2px;
  min-height: 20px;
  width: 18px;
  /* TEMPORARY */
  border: 1px solid red;
  font-size: 8px;
}

/*STYLING FOR SPECIFC COMPONENTS */
main {
  display: grid;
  position: sticky;
  top: 200px;
  grid-template-columns: 3fr 7fr;
}

/* DASHBOARD */
#dashboard {
  height: 470px;
}

/* DASHBOARD - hero */

.hero {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 40px;
  position: sticky;
  top: 0;
}

.title-container {
  border: 2px solid rgb(255, 255, 255);
  background: var(--background-gradient2);
}

.fill {
  width: 13vw;
  height: 13vw;
  padding: 0;
  border: 2px solid white;
  object-fit: contain;
  place-self: center;
}

/* DASHBOARD - left-menu */

.tech-stack {
  color: var(--area1);
  pointer-events: none;
}

.contact {
  color: var(--area1);
  pointer-events: none;
}

/* DASHBOARD - left-menu - projects */

#display-projects {
  display: grid;
  width: 600px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 160px));
  grid-template-rows: auto;
}

.project-card {
  margin-left: 0;
  min-width: 120px;
  display: grid;
  grid-template-rows: 32px 1fr;
  overflow: auto;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.project-card::-webkit-scrollbar {
  display: none;
}

.project-card h2 {
  place-self: center;
}

.project-card:hover {
  border: 2px solid white;
  background: unset;
  background-color: rgba(112, 128, 144, 0.466);
  color: white;
}

.project-card:hover p {
  color: white;
}

.column {
  margin-right: 15px;
}

/* DASHBOARD - left-menu - about me */
#display-about-me {
  display: grid;
  height: 350px;
}

#display-about-me:hover {
  background-color: rgba(255, 255, 255, 0.678);
  border: 2px solid var(--area1);
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.474);
  /* add an -> svg to make it obvious this is taking the user to another page */
}


.about {
  position: absolute;
  background: var(--background-gradient2);
  color: var(--text);
  font-weight: bold;
  display: grid;
  place-content: center;
  border: 2px solid white;
}

.about:hover {
  border: 2px solid white;
  background: unset;
  background-color: var(--highlight);
  color: var(--area1);
  width: 150px;
  height: 150px;
}

#about-dance {
  top: 30vh;
  left: 9vw;
  height: 8vw;
  width: 8vw;
  max-width: 70px;
  max-height: 70px;
}
#about-teach {
  top: 8vh;
  left: 40vw;
  height: 12vw;
  width: 12vw;
  max-width: 110px;
  max-height: 110px;
}
#about-code {
  top: 3vh;
  left: 1vw;
  height: 13vw;
  width: 13vw;
  max-width: 140px;
  max-height: 140px;
}
#about-study {
  top: 25vh;
  left: 30vw;
  height: 9vw;
  width: 9vw;
  max-width: 90px;
  max-height: 90px;
}

.about-page-link {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background-color: grey;
}

@media screen and (max-width:590px){
  .body {
    background-color: var(--background);
    background: radial-gradient(
      closest-corner at 60vw 65vh,
      rgba(239, 236, 209, 0.353),
      rgba(169, 209, 232, 0.588),
      rgba(169, 209, 232, 0.488),
      rgba(169, 209, 232, 0.777)
    );
    background-attachment: fixed;
  }  
}

