/* colour palette */
/* generated via coolors.co */
:root {
  --area: rgba(75, 40, 115, 0.925);
  --background: rgb(164, 223, 255);
  --text: #f9f9f9ff;
  --highlight1: #e072a4ff;
  --highlight2: #b0e298ff;
  --unit: 20px;
}


/* recurrent styling */
*{
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', 'Tahoma';
}

body{
  background-color: var(--background);
}

/* containers */

.rectangular-container{
  background-color: var(--area);
  border-radius: 3px;
  padding: var(--unit);
  margin: var(--unit);
  color: var(--text);
}
.rectangular-container:hover{
  border: 2px solid white;
  background-color: var(--highlight2);
  color: var(--area);
}


.round-container{
  background-color: var(--area);
  border-radius: 100%;
  padding: var(--unit);
  color: var(--text);
}

.section-container{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 1fr);
  background-color: rgba(47, 72, 88, 0.116);
  border-radius: 3px;
  padding: var(--unit)  60px;
  margin: var(--unit);
  color: var(--text);
}





/* unique styling */
main{
  display: grid;
  grid-template-columns: 2fr 3fr;
}

h1 {
  font-size: 76px;
}

h2 {
  font-size: 28px;
}

.hero{
  height: 300px;
  pointer-events: none;
}