/* colour palette */
/* generated via coolors.co */
:root {
  --area1: rgba(75, 40, 115, 0.925);
  --background: rgb(185, 229, 253);
  --text: #f9f9f9ff;
  --area2: rgba(135, 92, 65, 0.359);
  --highlight: #b0e298ff;
  --unit: 20px;
  --background-gradient1: radial-gradient(
    closest-corner at 60% 60%,
    rgb(140, 195, 227),
    rgba(83, 56, 114, 0.679)
  );
  --background-radient2: linear-gradient(
    325deg,
    rgba(255, 255, 255, 0.098),
    rgba(75, 40, 115, 0.925)
  );
}

/* recurrent styling */
* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", "Tahoma";
  position: relative;
}

body {
  background-color: var(--background);
}

h2 {
  font-size: 2vw;
}

/* containers */

.rectangular-container {
  background-color: var(--area1);
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  color: var(--text);
}
.rectangular-container:hover {
  border: 2px solid white;
  background-color: var(--highlight);
  color: var(--area1);
  padding: 8px;
}

.round-container {
  /* background-color: var(--area1); */
  border-radius: 100%;
  padding: var(--unit);
  color: var(--text);
}

.section-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3fr repeat(2, 2fr);
  background-color: rgba(47, 72, 88, 0.116);
  border-radius: 3px;
  padding: 10px;
  margin: var(--unit) 40px;
  color: var(--text);
  max-height: 350px;
  position: sticky;
  top: 300px;
}

/*STYLING FOR SPECIFC COMPONENTS */
main {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

/* DASHBOARD */
#dashboard {
  height: 470px;
}

/* DASHBOARD - hero */

/* .hero::before {
  background-color: rgba(185, 229, 253, 0.322); 
  background-image: url("src/assets/pexels-negative-space-97077.jpg"); 
  background-size: cover;
  background-blend-mode: soft-light;
  filter: blur(2px);
  width: 100%;
  height: 100%;
  content: '';
  position: absolute; 
  top: 0; 
} */
.hero {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 35vh 40px;
  position: sticky;
  top: 0;
}

.title-container {
  height: 16vw;
  width: fit-content;
  max-width: 975px;
  pointer-events: none;
  padding: var(--unit) 5vw;
  margin: 10px;
  border: 2px solid rgb(255, 255, 255);
  background: var(--background-radient2)
}
h1 {
  font-size: 4vw;
  line-height: 5vw;
}

.fill {
  width:  20vw;
  height: 20vw;
  padding: 0;
  border: 2px solid white;
  object-fit: contain;
  place-self: center;
}

/* DASHBOARD - left-menu */

.tech-stack {
  background-color: rgba(255, 255, 255, 0.713);
  color: var(--area1);
  height: 130px;
  pointer-events: none;
}

/* DASHBOARD - left-menu - projects */

#display-projects {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 10px 5px;
}

.project-card {
  margin-left: 0;
  background: var(--background-radient2);
}

.project-card:hover {
  border: 2px solid white;
  background: unset;
  background-color: var(--highlight);
  color: var(--area1);
}

.column {
  margin-right: 15px;
}

#project-card1 {
  height: 80px;
}
#project-card2 {
  height: 120px;
}
#project-card3 {
  height: 100px;
}
#project-card4 {
  height: 180px;
}
#project-card5 {
  height: 150px;
}

/* DASHBOARD - left-menu - about me */
#display-about-me {
  display: grid;
}

.about {
  position: absolute;
  background-color: grey;
  background: var(--background-gradient1);
  color: var(--text);
  font-weight: bold;
  display: grid;
  place-content: center;
}

.about:hover {
  border: 2px solid white;
  background: unset;
  background-color: var(--highlight);
  color: var(--area1);
  width: 150px;
  height: 150px;
}

#about-dance {
  top: 40vh;
  left: 20vw;
  height: 60px;
  width: 60px;
}
#about-teach {
  top: 20vh;
  left: 50vw;
  height: 100px;
  width: 100px;
}
#about-code {
  top: 10vh;
  left: 20vh;
  height: 120px;
  width: 120px;
}
#about-study {
  top: 25vh;
  left: 30vw;
  height: 80px;
  width: 80px;
}

/* 
@media screen and (max-width:590px){
  .title-container{
    height: calc(13vh- 40px);
   
  }
  .fill{
    height: calc(13vh + 40px);
    width: calc(13vh + 40px);
  
  }
} */